@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray1 font-sans text-gray12 antialiased;
  text-rendering: optimizeLegibility;
}

/* Changes the color of selected text */
::selection {
  @apply bg-gray5;
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 0.375em;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray3;
  border-radius: 0.25em;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
